<form method="POST" action="/add-note">

    <table>
        <tr>
            <td><label> Your Name</label></td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><label>Topic</label></td>
            <td><input type="text" name="topic"/></td>
        </tr>
        <tr>
            <td><label>One Line Summary</label></td>
            <td><input type="text" name="summary"/></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
        <td><textarea rows="4" cols="50" name="description">
            </textarea>
        </td>
        </tr>
        <tr>
        <td colspan="2">
            <input type="submit" title="Save"/>
         </td>
        </tr>
    </table>
</form>
